{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
	<div class="container">
		<h2 class="text-center">Mes Informations</h2><hr />

		<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		</form>	
	</div>
{% endblock %}


