{% trans_default_domain 'FOSUserBundle' %}
<section>
	<div class="container">
		<h2 class="text-center">Changez votre mot de passe</h2><hr />
				
		<form action="{{ path('fos_user_change_password') }}" method="POST">
			{{ form_start(form) }}					
	
			<div class="form-group">
				<div class="col-lg-4">					
					{{ form_label(form.plainPassword.first, "Nouveau mot de passe :", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}
					{{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }} <br/>

					{{ form_label(form.plainPassword.second, "Vérification :", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}
					{{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }} <br/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-offset-3 col-lg-4">					
					{{ form_label(form.current_password, "Ancien mot de passe :", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}
					{{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }} 
					<br />
					<em>Entrer votre mot de passe <br/>
						pour pouvoir valider les modifications.
					</em>
				</div>
			</div>
			<div class="col-lg-4"></div>	
			<br/><br />
			<br/><br />
			<br/><br />
			<div class="row">
				<br/><br />
				<br/><br />
				<center><input class="btn btn-primary text-center" type="submit" value="{{ 'change_password.submit'|trans }}" /></center>
			</div>
		</form>	
	</div>
</section>

