{% extends 'base.html.twig' %}

{% block body %}
    <h1>Folder</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ folder.id }}</td>
            </tr>
            <tr>
                <th>Updateat</th>
                <td>{% if folder.updateAt %}{{ folder.updateAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Foldername</th>
                <td>{{ folder.folderName }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ folder.path }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('folder_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('folder_edit', { 'id': folder.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
